/* You can add global styles to this file, and also import other style files */
/* styles.css ou styles.scss (geral do Angular) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

